{% comment -%}Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.{% endcomment -%}
<a class="navbar-brand" href="{{_rel}}index.html">
  {%- if _appLogoPath -%}
  <img style="width:100%; height:auto; max-width:300px; padding-right:65px; padding-top:10px; padding-left:1px" id="logo" class="" src="{{_rel}}{{_appLogoPath}}" alt="{{_appName}}" >
  {%- else -%}
  <img style="width:100%; height:auto; max-width:300px; padding-right:65px; padding-top:10px; padding-left:1px" id="logo" class="" src="{{_rel}}logo.png" alt="{{_appName}}" >
  {%- endif -%}
</a>
